<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 text-dark">
                        <h6 class="font-weight-bold my-0 text-uppercase">
                            CHÚNG TÔI TỰ HÀO
                        </h6>
                        <h6 class="font-weight-bold my-0 text-uppercase">
                            LÀ MỘT TẬP ĐOÀN TIÊN PHONG
                        </h6>
                        <h6 class="font-weight-bold my-0 text-uppercase">
                            KHAI THÁC VÀ CHẾ BIẾN
                        </h6>
                        <h6 class="font-weight-bold my-0 text-uppercase">
                            GRAPHITE TẠI VIỆT NAM
                        </h6>
                    </div>
                    <div class="col-12 row pt-4">
                        <div class="col-12 text-dark">
                            <h6 class="my-0 text-uppercase">
                                <a class="text-dark" href="@Url.Action("Index", "GeneralInfo", new { moduleName = "" })">VỀ CHÚNG TÔI</a>
                            </h6>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <h6 class="my-0 text-uppercase">
                                <a class="text-dark" href="@Url.Action("Index", "Partner")">ĐỐI TÁC</a>
                            </h6>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <h6 class="my-0 text-uppercase">
                                <a class="text-dark" href="@Url.Action("Index", "News")">TIN TỨC</a>
                            </h6>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 text-dark">
                        <h5 class="font-weight-bold my-0 text-uppercase">
                            TIN TỨC
                        </h5>
                        <hr />
                    </div>
                    <div class="col-12 text-dark">
                        <img class="w-100" src="~/dist/images/short-news-2.jpg" />
                    </div>
                    <div class="col-12 pt-2 text-dark">
                        <p class="font-weight-bold">Sản lượng chế biến Graphite toàn cầu</p>
                        <span>Với năng lực sản xuất và chất lượng sản phẩm thỏa mãn yêu cầu của khách hàng, sản phẩm của công ty đã có mặt trên khắp các tỉnh thành Việt Nam và xuất khẩu đi nhiều nước trên thế…</span>
                    </div>
                    <div class="col-12 text-dark">
                        <hr />
                    </div>
                    <div class="col-12 text-right">
                        <a class="text-dark" href="#">Xem thêm ...</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 text-dark">
                        <h5 class="font-weight-bold my-0 text-uppercase">
                            &nbsp;
                        </h5>
                        <hr />
                    </div>
                    <div class="col-12 text-dark">
                        <img class="w-100" src="~/dist/images/short-news-1.jpg" width="100%" />
                    </div>
                    <div class="col-12 pt-2 text-dark">
                        <p class="font-weight-bold">Cập nhập công nghệ 2020</p>
                        <span>Với năng lực sản xuất và chất lượng sản phẩm thỏa mãn yêu cầu của khách hàng, sản phẩm của công ty đã có mặt trên khắp các tỉnh thành Việt Nam và xuất khẩu đi nhiều nước trên thế…</span>
                    </div>
                    <div class="col-12 text-dark">
                        <hr />
                    </div>
                    <div class="col-12 text-right">
                        <a class="text-dark" href="#">Xem thêm ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>