<div class="col-7 offset-1">
    <div class="col-12 p-0">
        <p class="h3">Dự án đầu tư xây dựng nhà máy chế biến graphite yên bái</p>
        <small>20/02/2020</small>
    </div>
    <div class="col-12 pt-2">
        <div class="row">
            <a class="p-1" href="#"><img src="~/dist/images/social-icons/32_PNG/32-facebook.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/images/social-icons/32_PNG/32-twitter.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/images/social-icons/32_PNG/32-linkedin.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/images/social-icons/32_PNG/32-tumblr.png" /></a>
        </div>
    </div>
    <div class="col-12 p-0 pt-3">
        <p class="multiline">
            Dự án đầu tư xây dựng nhà máy chế biến Graphite Yên Bái là dự án lớn được cấp giấy chứng nhận đầu tư số 16102100018, cấp ngày 27/05/2013
        </p>
    </div>
    <div class="col-12 p-0 pt-5">
        <img class="w-100" src="~/dist/images/detail-images/detail-1.jpg" />
        <div class="col-12 text-center">
            <em class="small">Đây là dự án với 100% vốn sở hữu của Công ty TNHH Thương mại Ngọc Viễn Đông.</em>
        </div>
    </div>
    <div class="col-12 p-0 pt-3">
        <p class="multiline">
            Với mục tiêu cung cấp cho thị trường, tạo việc làm và thu nhập cho lao động trong doanh nghiệp, đóng góp nguồn thu cho ngân sách nhà nước. Dự án được xây dựng tại xã Báo Đáp, huyện Trấn Yên, tỉnh Yên Bái với diện tịch 33ha, tổng vốn đầu tư (dự kiến) là 1.068 tỷ đồng (Một nghìn không trăm sáu mươi tám tỷ đồng)
        </p>
    </div>
    <div class="col-12 p-0 pt-5">
        <img class="w-100" src="~/dist/images/detail-images/detail-1-1.jpg" />
        <div class="col-12 text-center">
            <em class="small">Nhà máy chế biến Graphite với quy mô lớn đang dần đi vào hoàn thiện.</em>
        </div>
    </div>
    <div class="col-12 p-0 pt-3">
        <p class="multiline">
            Dự án đầu tư xây dựng nhà máy chế biến Graphite Yên Bái bao gồm hai giai đoạn:
            -     Giai đoạn 1: 1. Tuyển nổi Graphite đạt hàm lượng C=95% với công suất 40.000 tấn/năm; 2: Tuyển hóa Graphite hàm lượng cacbon 99% với công suất 40.000 tấn/năm (Tuyển lại hàm lượng 95% của dây chuyền tuyển nổi).
            -    Giai đoạn 2: Tuyển hóa Graphite đạt hàm lượng cacbon 99,99% (Tuyển lại 30% sản lượng Graphite hàm lượng cacbon 99%).
        </p>
    </div>
    <div class="col-12 p-0 pt-5">
        <img class="w-100" src="~/dist/images/detail-images/detail-1-2.jpg" />
        <div class="col-12 text-center">
            <em class="small">Dây chuyền công nghệ tối tân nhất được Công ty trang bị để phục vụ cho việc sản xuất Graphite có chất lượng tốt nhất phục vụ thị trường</em>
        </div>
    </div>
    <div class="col-12 p-0 text-dark">
        <hr />
    </div>
    <div class="col-12 p-0">
        <h5 class="font-weight-bold">Tin liên quan</h5>
        <ul>
            <li><a href="#">Dự án đầu tư xây dụng nhà máy chế biến Graphite Yên Bái</a></li>
            <li><a href="#">Dự án đầu tư xây dựng công trình khai thác mỏ Graphite Yên Bái</a></li>
            <li><a href="#">Lô hàng thiết bị máy móc đầu tiên đã được nhập về</a></li>
            <li><a href="#">Chương trình từ thiện hưởng ứng phong trào “ chăn ấm ngày đông”</a></li>
        </ul>
    </div>
</div>